<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.olegz.vf.core.dao.mapper.CronJobLockMapper">

    <update id="claimExpired">
        UPDATE cron_job_locks
        SET owner_id = #{ownerId,typeHandler=dev.olegz.vf.registry.dao.handlers.UuidStringTypeHandler},
            lock_until = #{lockUntil}
        WHERE job_name = #{jobName}
          AND lock_until &lt;= #{now}
    </update>

    <insert id="insert">
        INSERT INTO cron_job_locks (job_name, owner_id, lock_until)
        VALUES (#{jobName},
            #{ownerId,typeHandler=dev.olegz.vf.registry.dao.handlers.UuidStringTypeHandler}, #{lockUntil})
    </insert>

    <update id="renew">
        UPDATE cron_job_locks
        SET lock_until = #{lockUntil}
        WHERE job_name = #{jobName}
          AND owner_id = #{ownerId,typeHandler=dev.olegz.vf.registry.dao.handlers.UuidStringTypeHandler}
    </update>

    <delete id="release">
        DELETE FROM cron_job_locks
        WHERE job_name = #{jobName}
          AND owner_id = #{ownerId,typeHandler=dev.olegz.vf.registry.dao.handlers.UuidStringTypeHandler}
    </delete>
</mapper>
