<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.olegz.vf.core.dao.mapper.LambdaAssignmentCleanupMapper">
    <insert id="insertLambdaAssignmentCleanup">
        INSERT INTO lambda_assignment_cleanup_queue (lambda_assignment_id, cleanup_after)
        VALUES (#{lambdaAssignmentId}, #{cleanupAfter})
    </insert>

    <select id="takeNextLambdaAssignmentForCleanup" affectData="true" flushCache="true" resultType="Integer">
        WITH candidate AS (
            SELECT lambda_assignment_id
            FROM lambda_assignment_cleanup_queue
            WHERE cleanup_after &lt;= #{date}
            ORDER BY cleanup_after, lambda_assignment_id
            LIMIT 1
            FOR UPDATE SKIP LOCKED
        )
        DELETE FROM lambda_assignment_cleanup_queue q
        USING candidate c
        WHERE q.lambda_assignment_id = c.lambda_assignment_id
        RETURNING q.lambda_assignment_id
    </select>
</mapper>
