<configuration debug="false" scan="true" scanPeriod="60 seconds">

    <define name="LOG_HOME" class="dev.olegz.vf.common.props.LogHomeProperty"/>
    <define name="CONFIG_HOME" class="dev.olegz.vf.common.props.ConfigHomeProperty"/>
    <property name="MODULE" value="worker" />
    <include file="${CONFIG_HOME}/logback-inc.xml"/>

</configuration>
